[submodule "vendor/feature-mode"]
	path = vendor/feature-mode
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "vendor/rspec-mode"]
	path = vendor/rspec-mode
	url = git://github.com/pezra/rspec-mode.git
[submodule "vendor/smooth-scroll"]
	path = vendor/smooth-scroll
	url = git://github.com/k-talo/smooth-scroll.el.git
[submodule "vendor/rvm.el"]
	path = vendor/rvm.el
	url = git://github.com/senny/rvm.el.git
[submodule "vendor/gist"]
	path = vendor/gist
	url = git://github.com/defunkt/gist.el.git
