[submodule "vendor/feature-mode"]
	path = vendor/feature-mode
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "vendor/rspec-mode"]
	path = vendor/rspec-mode
	url = https://github.com/pezra/rspec-mode.git
[submodule "vendor/smooth-scroll"]
	path = vendor/smooth-scroll
	url = https://github.com/k-talo/smooth-scroll.el.git
[submodule "vendor/rvm.el"]
	path = vendor/rvm.el
	url = https://github.com/senny/rvm.el.git
[submodule "vendor/gist"]
	path = vendor/gist
	url = https://github.com/defunkt/gist.el.git
[submodule "vendor/centered-window-mode"]
	path = vendor/centered-window-mode
	url = https://github.com/anler/centered-window-mode.git
[submodule "vendor/epresent"]
	path = vendor/epresent
	url = https://github.com/eschulte/epresent.git
[submodule "vendor/org-tree-slide"]
	path = vendor/org-tree-slide
	url = https://github.com/takaxp/org-tree-slide.git
[submodule "vendor/demo-it"]
	path = vendor/demo-it
	url = https://github.com/howardabrams/demo-it.git
[submodule "vendor/fancy-narrow"]
	path = vendor/fancy-narrow
	url = https://github.com/Malabarba/fancy-narrow.git
[submodule "vendor/lua-mode"]
	path = vendor/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "vendor/fzf"]
	path = vendor/fzf
	url = https://github.com/bling/fzf.el.git
[submodule "vendor/copilot.el"]
	path = vendor/copilot.el
	url = https://github.com/zerolfx/copilot.el
